:root{
    --Background: #A567FF;
    --HeaderFooter:#2D1D44;
    --CurrentPage: #810050;
}
body{
    min-width: 100%;
    position: relative;
    min-height: 99vh;
    margin-left: auto;
    margin-right: auto;
    background-color:  var(--Background);
}
nav{
    width: 90%;
    margin: auto;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}
header{
    position: fixed;
    top: 0;
    background-color: var(--HeaderFooter);
    margin: 0;
    width: 100%;
    padding: 6px;
}
header h1, h3{
    margin: auto;
    width: 90%;
    text-align: center;
    color: white;
}
header a{
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    padding: 8px;
    border: 1px var(--HeaderFooter);
    background-color: var(--HeaderFooter);
    text-decoration: none;
    text-size-adjust: 14pt;
    width: 100px;
    text-align: center;
    font-size: 14pt;
    border-radius: 5%;
}

header a:visited{
    color: white;
}
header a:link{
    color: white;
}
header a:hover{
    background-color: #7D3C98;
}
a.favorites{
    background-color: var(--CurrentPage);
}
a.browser{
    background-color: var(--CurrentPage);
}
a.search{
    background-color: var(--CurrentPage);
}
a.song{
    background-color: var(--CurrentPage);
}
a.home{
    background-color: var(--CurrentPage);
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--HeaderFooter);
    margin: auto;
    color: white;
}
.Github{
    width: 40%;
    display: flex;
    justify-content: space-around;
}
footer a{
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    padding: 8px;
    border: 1px var(--HeaderFooter);
    background-color: var(--HeaderFooter);
    text-decoration: none;
    text-size-adjust: 14pt;
}
footer a:visited{
    color: white;
}
footer a:link{
    color: white;
}
footer a:hover{
    background-color: #7D3C98;
}

.content{
    padding-top: 144px;/* TODO: Fix this number once the rest of styling is done */
    padding-bottom: 132px;
}
tr:nth-child(even) {
    background-color: rgba(47, 59, 64, 0.35);
}
table, td, th {
    /* border: 1px solid; */
    padding: 20px;
    font-size: 1.05rem;
} 
table{
    border-collapse: collapse;
    /* width: 10%; */
    width: 80vw;
    text-align: center;
    margin: auto;
}
.table_year{
    width: 60px;
    margin-left: 3px;
}
.home_container{
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}
.homepage_grid{
    background-color: lightslategrey;
    padding-left: 2%;
    padding-right: 2%;
}
.songInfo{
    margin: auto;
    width: 80%;
    border: 0px solid green;
    padding: 10px;
}
.songInfo tr{
    background-color: rgba(255, 255, 255, 0.35);
}
div.progress progress{
    margin: auto;
    width: 20%;
    padding: 10px;
}
.progress label{
    padding: 40px;
}
.Button{
    background-color: #441D3C;
    border: #441D3C;
    color: white;
    border-radius: 25px;
    padding: 10px 10px;
    text-decoration: none;
    white-space: nowrap;
}
.Button:visited{
    color: white;
}
.Button:hover{
    background-color: #7D3C98;
}

/* This was generated at https://www.shapedivider.app */
.custom-shape-divider-top-1666384790 {
    position: absolute;
    top: 1;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.custom-shape-divider-top-1666384790 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 42px;
    transform: rotateY(180deg);
}
.custom-shape-divider-top-1666384790 .shape-fill {
    fill: var(--HeaderFooter);
}